<div class="auto-complete">
  <div class="input-div">
    <div class="selected-movie-class" *ngFor="let item of selectedMovies">
      <button *ngIf="item && item.selectedMovie" id="selectedMovieId" type="text">{{item.selectedMovie}}
        <img id="close-icon" src="../../../assets/close.png" (click)="removeSelectedMovie($event)"
          [name]="item.selectedMovie" />
      </button>
    </div>
    <input (change)='onMovieSelect($event)' class="type-ahead" id="searchId" [(value)]="searchText" type="search"
      multiple="multiple" list="moviesId" placeholder="Search Movies" (keyup)="onKeyUp($event)"
      (keydown)="onKeyDown($event)">
  </div>
  <datalist id="moviesId">
    <option *ngFor="let item of movies" [value]="isSelectionValid && item.title || searchText">{{item.year}}</option>
  </datalist>
  <div class='user-message' *ngIf="userMsg">{{userNotification}}</div>
</div>
